<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>

  <div class="container">
      test
  </div>
  <%- include('partials/footer') %>
</body>
</html>
