<p>Hooray! Someone signed the agreement!</p>

<p><strong>Company:</strong> <%= company %></p>
<p><strong>Name:</strong> <%= name %></p>
<p><strong>Role:</strong> <%= role %></p>
<p><strong>Email:</strong> <%= email %></p>
